
# Ignore symlinks of common files, created by setup-common-symlinks script
src/sandboxes/**/common/**
src/templates/**/common/**

# Ignore symlinks of shared files
src/sandboxes/ui-components/badges/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/badges/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/badges/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/button/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/button/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/button/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/checklistbox/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/checklistbox/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/checklistbox/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/expandable-list/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/expandable-list/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/expandable-list/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/inputs/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/inputs/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/inputs/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/loading/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/loading/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/loading/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/search-box/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/search-box/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/search-box/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/slider/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/slider/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/slider/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/tabs/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/tabs/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/tabs/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/text/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/text/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/text/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/tiles/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/tiles/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/tiles/sources/itwinui-demo/Layout.tsx
src/sandboxes/ui-components/toggle/sources/itwinui-demo/itwinui.svg
src/sandboxes/ui-components/toggle/sources/itwinui-demo/Layout.scss
src/sandboxes/ui-components/toggle/sources/itwinui-demo/Layout.tsx
src/sandboxes/viewer-features/road-network/sources/open-street-map/OverpassApi.ts